__pycache__/
*.py[cod]

daily_research/cache/
daily_research/output/
daily_research/execution/output/
daily_research/execution/current_positions.csv
daily_research/execution/models/*
!daily_research/execution/models/.gitkeep
daily_research/execution/universe/history/
daily_research/execution/universe/*_latest.txt
daily_research/execution/universe/*_latest.csv
!daily_research/execution/universe/.gitkeep

daily_research/archive/cache/*
!daily_research/archive/cache/.gitkeep
daily_research/archive/output/*
!daily_research/archive/output/.gitkeep

t0_project/backtest_output/
t0_project/logs/
t0_project/models/
t0_project/ppo_tdx_tensorboard/
